@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.faqSection {
  background-color: rgb(245, 249, 249);
  overflow: hidden;
  left: 50%;
  margin-left: -50vw;
  position: relative;
  width: 100vw;
}

.faqContainer {
  width: 1100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 40px 0px 60px;
}

.faqHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.faqImage {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  filter: brightness(1.1) contrast(1.2);
}

.faqTitle {
  font-size: 2rem;
  font-weight: 800;
  color: var(--primaryColor);
  margin: 20px 0;
}

.faqItems {
  width: 100%;
  max-width: 800px;
}

.faqItem {
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: white;
}

.faqQuestion {
  background: #f5f5f5;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
  color: var(--buttonColor);
}

.faqQuestion:hover {
  background-color: #e0e0e0;
}

.faqAnswer {
  display: none;
  padding: 1rem;
  color: #25324b;
  animation: fadeIn 0.3s ease-in-out;
}

.faqAnswer.show {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .faqTitle {
    font-size: 1.5rem;
  }
  .faqQuestion {
    font-size: 0.9rem;
  }
}
