.navbar-header {
  background-color: rgb(245, 249, 249);
  position: fixed;
  left: 0;
  top: 0;
  height: 70px;
  width: 100%;
  z-index: 99;
  display: flex !important;
  align-items: center !important;
  justify-content: space-between;
  transition: background-color 0.3s ease;
}

.navbar-header.navbar-scrolled {
  background-color: var(--whiteColor); 
  box-shadow: 0 4px 13px rgba(0, 0, 0, 0.05); 
}

.navbar {
  display: flex;
  justify-content: space-between;
  color: var(--textColor);
  align-items: center;
  padding: 0 60px;
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
}

.navbar-left,
.navbar-right,
.navbar-logo,
.navbar-menu {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  width: 99px;
  object-fit: contain;
}

.navbar-menu {
  display: flex;
  margin-left: 15%;
  align-items: center;
  gap: 42px;
}

.menu-links {
  min-width: fit-content;
  position: relative;
  text-decoration: none;
}

.menu-title {
  height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--primaryColor);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}

.dropdown-icon {
  margin-left: 5px;
  margin-top: 3px;
}

.dropdown-icon img {
  margin-top: 3px;
  width: 20px;
}

.navbar-right {
  gap: 10px;
}

.cta-button {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
  top: 3px;
}

.cta-button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: var(--buttonColor);
  width: 35px;
  height: 35px;
  transition: all 0.3s ease;
}

.cta-button span {
  position: relative;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.05em;
  bottom: 3px;
}

.box{
  color: var(--blackColor);
  font-family: "Epilogue", sans-serif;
}

.cta-button:hover:before {
  width: 100%;
  /* background: #b1dae7; */
  background: var(--buttonColor);
  border-radius: 10px;
}

.cta-button:hover .box{
  color: var(--whiteColor);
  font-family: "Epilogue", sans-serif;
}

.cta-button:hover .box {
  text-decoration: none;
}

.cta-button:active {
  transform: scale(0.95);
}

.cta-button-2 {
  position: relative;
  padding: 12px 18px;
  display: inline-block;
  cursor: pointer;
  transition: all 0.2s;
  border: none;
  height: 35px;
  border-radius: 10px;
  background: var(--buttonColor);
}

.cta-button-2 span {
  position: relative;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: var(--whiteColor);
  bottom: 3px;
}

.box-2 {
  text-decoration: none;
  color: #fff;
  font-family: "Epilogue", sans-serif;
}

.cta-button-2:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.cta-button-2:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.cta-button-2::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.cta-button-2::after {
  background: var(--buttonColor);
}

.cta-button-2:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.icon-menu{
  display: none;
}
 
@media only screen and (min-width: 768px) and (max-width: 1440px) and (max-height: 798px) {
  .navbar-header {
    height: 65px;
  }

  .menu-item {
    margin-right: 42px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1280px) and (max-height: 698px) {
  .nav-menu {
    margin-left: 8%;
  }

  .navbar-header {
    height: 58px;
  }

  .menu-item {
    margin-right: 36px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .navbar {
    padding-left: 40px;
    padding-right: 40px;
  }
} 

/* Media queries for devices of size 768px and below */


@media only screen and (max-width: 768px){
  .navbar{
    /* background-color: red; */
    margin-left: 0;
    padding: 0 10px;
 }

 .navbar-menu{
  background-color: blue;
  display: none;
}

  .icon-menu{
    display: block;
  }
}

@media screen and (max-width:900px) {
  .navbar{
    padding-inline: 10px;
  }
}
