.Jobjot-container{
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    height: 100px
}
.Jobjot-container img{
    height: 100px;
    
}
.Navigation{
    display: flex;
    justify-content: space-between;
    margin-right: 400px;
    color: black;
    /* background-color: blue; */
    a{
        margin-left: 80px;
        margin-top: 22px;
        font-size: 17px;
    }
}
.dropdown{
    position: relative;
    display: inline-block;

}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    overflow: auto;
    min-width: 160px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

    a{
        color:black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-size: 15px;
    }
}

.dropdown-content a:hover{
    background-color: #ddd;
}
.dropdown:hover .dropdown-content{
    display:block;
}
.dropdown:hover .dropbtn{
    background-color: #636369;
}
.dropbtn{
    background-color: white;
    margin-left: 60px;
    margin-top: 6px;
    color: black;
    height: 50px;
    padding: 16px;
    font-size: 17px;
    cursor: pointer;
    border:none

}
.Login{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    nav{
        color: #7b61ff;
        font-size: 15px;
        margin-top: 10px;
        margin-right: 50px;
        cursor: pointer;
    }

}

.Signup{

    border-left: 1px solid rgba(233, 230, 230, 0.877);

    button{
        margin-left: 50px;
        margin-bottom: 100px;
        color: white;
        width: 100px;
        height: 40px;
        padding: 10px;
        border-radius: 10px;
        border: transparent;
        background-color: #7b61ff;
        cursor: pointer;
    }
}