@import "tailwindcss/tailwind.css";
@layer tailwind-base, antd; /* Ensure Ant Design comes after Tailwind base styles */
@layer tailwind-base {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primaryColor: rgb(1, 35, 50);
  --secondary: rgb(4, 4, 5);
  --buttonColor: rgb(42, 142, 158);
  --yellow: #ffb836;
  --green: #56cdad;
  --red: #ff6550;
  --blue: #26a4ff;
  --purple: #7b61ff;
  --lightBlueColor: #1dcbef;
  --blackColor: #000;
  --successColor: #18864b;
  --negativeColor: #f7685b;
  --whiteColor: #ffffff;
  --neutral: #f8f8fd;
  --color-danger-900: #771f0d;
  --dashboardBlack: hsl(180, 6%, 7%);
  --background: 0 0% 100%;
  --jobjott-50: 180, 5%, 97%;
  --jobjott-100: 180, 6%, 90%;
  --jobjott-200: 180, 6%, 50%;
  --jobjott-400: 180, 6%, 20%;
  --jobjott-600: 180, 6%, 15%;
  --jobjott-700: 180, 6%, 10%;
  --jobjott-750: 180, 6%, 7%;
  --teal-700: 180 6% 10%;

  --grey-50: 0 0% 97%;
  --grey-100: 0 0% 93%;
  --grey-150: 0 0% 80%;
  --grey-200: 0 0% 66%;
  --grey-300: 0 0% 60%;
  --grey-500: 0 0% 55%;
  --grey-600: 0 0% 47%;
  --grey-700: 0 0% 41%;
  --grey-800: 0 0% 32%;
  --grey-900: 0 0% 20%;
  --white: 0 0% 100%;
  --black: 0 0% 0%;
  --brown-50: 20 33% 98%;
  --brown-100: 37 54% 92%;
  --brown-200: 38 43% 84%;
  --brown-400: 37 43% 75%;
  --brown-600: 38 43% 65%;
  --brown-700: 38 44% 49%;
  --yellow-50: 54 100% 92%;
  --yellow-200: 55 89% 75%;
  --yellow-300: 52 88% 68%;
  --yellow-400: 52 89% 65%;
  --yellow-600: 48 90% 59%;
  --yellow-700: 44 99% 48%;
  --red-50: 10 100% 89%;
  --red-200: 10 89% 82%;
  --red-400: 10 85% 72%;
  --red-600: 10 82% 64%;
  --red-700: 10 80% 55%;
  --maroon-50: 338 59% 92%;
  --maroon-200: 338 37% 81%;
  --maroon-400: 338 29% 63%;
  --maroon-600: 338 30% 47%;
  --maroon-700: 338 60% 30%;
  --blue-50: 231 100% 94%;
  --blue-200: 232 86% 85%;
  --blue-400: 231 83% 79%;
  --blue-600: 232 80% 72%;
  --blue-700: 231 79% 64%;
  --purple-50: 238 54% 89%;
  --purple-200: 239 48% 77%;
  --purple-400: 239 46% 66%;
  --purple-600: 239 45% 54%;
  --purple-700: 239 65% 41%;
  --accent-purple: 239 100% 75%;
  --accent-green: 171 66% 42%;
  --accent-aqua: 174 94% 69%;
  --accent-orange: 35 100% 71%;
  --accent-blue: 201 100% 69%;
  --accent-red: 11 100% 70%;
  --accent-yellow: 54 96% 80%;
  --background: 0 0% 100%;
  --foreground: 0 0% 3.9%;
  --card: 0 0% 100%;
  --card-foreground: 0 0% 3.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 3.9%;
  --popover-inverted: 0 0% 20%;
  --popover-inverted-foreground: 0 0% 98%;
  --primary: var(--jobjott-700);
  --primary-foreground: 0 0% 98%;
  --primary-muted: var(--jobjott-50);
  --primary-muted-foreground: var(--jobjott-400);
  --secondary: 44 99% 48%;
  --secondary-foreground: 0 0% 9%;
  --muted: 0 0% 96.1%;
  --muted-foreground: 0 0% 45.1%;
  --accent: 0 0% 96.1%;
  --accent-foreground: 0 0% 9%;
  --destructive: 0 60% 42%;
  --destructive-foreground: 0 0% 98%;
  --border: 32 31% 89%;
  --input: 0 0% 89.8%;
  --ring: 0 0% 3.9%;
  --radius: 0.5rem;
  --surface: 20 33% 98%;
  --surface-foreground: 0 0% 3.9%;
  --default-text-secondary: 0 0% 28.6%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
p,
a {
  font-family: "Montserrat", sans-serif;
}

.jobjot-entire-wrap {
  -webkit-overflow-scrolling: touch;
  height: 100%;
  overflow-x: hidden;
  background-color: #ffffff;
  position: relative;
}

.jobjot-main-container {
  min-height: calc(100vh - 120px);
  transform: translateY(0) !important;
  margin-top: 70px;
  padding: 0px 40px 63px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 2;
  position: relative;
}

@media only screen and (min-width: 768px) and (max-width: 1440px) and (max-height: 798px) {
  body,
  html {
    font-size: 15px !important;
  }

  .jobjot-main-container {
    margin-top: 65px !important;
    padding: 0px 40px 60px;
    display: flex;
    justify-content: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1440px) and (max-height: 800px) {
  body,
  html {
    font-size: 14px !important;
  }
}

@media (min-width: 576px) {
  .jobjot-main-container {
    max-width: 540px;
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .jobjot-main-container {
    max-width: calc(100% - 25px);
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 992px) {
  .jobjot-main-container {
    max-width: calc(100% - 25px);
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  .jobjot-main-container {
    max-width: 1180px;
    display: flex;
    justify-content: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1280px) and (max-height: 698px) {
  .jobjot-main-container {
    max-width: 991px;
  }
}
